* {
    padding: 0;
    margin: 0;
}

h1 {
    background-color: black;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}

h2 {
    padding: 5px;
    text-align: center;
}

h3 {
    padding: 5px;
    text-align: center;
}