
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #cf0ccf;
  background-color: #cf0ccf;
  padding: 10px;
  text-align: center;
  
}
.header {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav {
background-color: rgb(25, 174, 211); 
list-style-type: none;
text-align: center;
margin: 0;
padding: 0;
}

.nav li {
display: inline-block;
font-size: 20px;
padding: 20px;
}

