*{
    background: scroll;
}

img {
    border-radius: 50%;
    size-adjust: calc(100%);
}

.card-hover:hover{
    transform: scale(1.15);
}

#footer {
    text-transform: calc(95%);
    background-color: gray;
    margin-top: 2cm;
}