html{
    height: 100%;
}
body{
    height: 100%;
    
    background-color:black;
    background-image: url("https://img.freepik.com/vector-gratis/hexagono-fondo-abstracto-textura-negra_206725-413.jpg?w=740&t=st=1656637094~exp=1656637694~hmac=dce569ba701a7d5032b55350d7236363e2a4537dca53d10f0080ac966bd33e8a");
    background-size: 25%;
    background-repeat:repeat;
}

/*Para ajustar elementos a una pantalla de <=991 px*/
@media (max-width: 990px) { 
    
    .mycontainer{
        width: 576px;
        margin:auto;
    }

    h1{
        text-align: center;
        font-size: 3rem;
        font-family:monospace;
        color:white;
        font-weight: 700;
    }
    .ptext{
        text-align:justify;
        font-family:monospace;
        width: 90%;
        margin: auto;
    }
    .mycolumn{
        align-self:center;
        margin-bottom: 4%;
        padding:0;
        text-align:center;
    }
    .rowjust{
        justify-content: center;
    }
    .rowjust2{
        text-align:center;
    }
    .input4{
        text-align: center;
        font-family:monospace;
        width: 105px;
        font-weight: 800;
        font-size:xx-large;
        border: 5px orange solid;
    }
    .mybutton{
        color:white;
        font-weight: 700;
        background-color:orange;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .output{
        text-align: center;
        font-family:monospace;
        font-weight: 800;
        font-size:large;
        border: 5px orange solid;
        width: 60%;
        height: 3.5rem;
        margin:auto;
        margin-top: 5px;
        background-color: white;
    }
    .input2{
        text-align: center;
        font-family:monospace;
        width: 105px;
        font-weight: 800;
        font-size:xx-large;
        margin:auto;
        border: 5px orange solid;
    }
}

@media (max-width: 575px) { 
    .mycontainer{
        width:98%;
        padding:0;
        border:0;
        margin:2%;
    }
    .mycolumn2{
        width: 30%;
    }
    h1{
        text-align: center;
        font-size: 1.5rem;
        width: 95%;
        font-family:monospace;
        color:white;
        font-weight: 700;
    }
    .ptext{
        text-align:justify;
        font-family:monospace;
        width: 90%;
        margin: auto;
    }
    .mycolumn{
        align-self:center;
        margin-bottom: 4%;
        padding:0;
        text-align:center;
    }
    .rowjust{
        justify-content: center;
    }
    .rowjust2{
        text-align:center;
    }
    .input4{
        text-align: center;
        font-family:monospace;
        width: 105px;
        font-weight: 800;
        font-size:xx-large;
        border: 5px orange solid;
    }
    .mybutton{
        color:white;
        font-weight: 700;
        background-color:orange;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .output{
        text-align: center;
        font-family:monospace;
        font-weight: 800;
        font-size:large;
        border: 5px orange solid;
        width: 70%;
        height: 3.5rem;
        margin:auto;
        margin-top: 5px;
        background-color: white;
    }
    .input2{
        text-align: center;
        font-family:monospace;
        width: 105px;
        font-weight: 800;
        font-size:xx-large;
        margin:auto;
        border: 5px orange solid;
    }
}
/*Para ajustar elementos a una pantalla de >=991 px*/
@media (min-width: 991px) { 

    .mycontainer{
        width: 1041px;
        margin:auto;
    }
    
    h1{
        font-size: 5rem;
        font-family:monospace;
        color:white;
        font-weight: 700;
    }
    .ptext{
        font-family:monospace;
        width: 75%;
    }

    .mycolumn{
        align-self:end;
        margin-bottom: 4%;
        padding:0;
        text-align:center;
    }
    .input4{
        text-align: center;
        font-family:monospace;
        width: 145px;
        font-weight: 800;
        font-size:xx-large;
        border: 5px orange solid;
    }
    .mybutton{
        color:white;
        font-weight: 700;
        background-color:orange;
    }
    .output{
        text-align: center;
        font-family:monospace;
        font-weight: 800;
        font-size:large;
        border: 5px orange solid;
        width: 93%;
        height: 4rem;
        margin:auto;
        background-color: white;
    }
    .input2{
        text-align: center;
        font-family:monospace;
        width: 75px;
        font-weight: 800;
        font-size:xx-large;
        margin:auto;
        border: 5px orange solid;
    }
    
}

.text-orange{
    color:orange;
}
.myfooter{
    text-align: center;
    background-color: black;
    position:sticky;
    bottom: 0px;
    margin-top: 20px;
    height: 80px;
    width: 100%;
}
label{
    color: white;
}



.mybutton:hover{
    color:white;
    background-color:rgba(255, 166, 0, 0.808);
}


